<!-- The Navigation, this shows on the left for desktops and at the bottom for mobile -->
<nav class="background-boulder animated" ng-controller="NavigationController">
	<p>w: {{width}}, h:{{height}}</p>
	<div class="row hidden-xs">
		<div class="col-sm-12">
			<img id="portrait" alt="Tom's Portrait" ng-src="{{portraitUrl}}"/>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<ul id="menu">
				<li ng-repeat="(target, text) in menuItems" ng-class="menuActive == target ? 'active' :''" ng-click="menuClick(target)">
					<a class="nav-large-text">{{text}}</a>
					<a class="nav-small-text">{{target | capitalize}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row git-info hidden-xs">
		<div class="col-md-12">
			<p class="font-silver">Last Updated:
				<span id="lastUpdated">
					<a ng-href="{{repo.fullPath}}">{{('0'+repo.updatedDate.getDate()).slice(-2)}}/{{('0'+(repo.updatedDate.getMonth()+1)).slice(-2)}}/{{repo.updatedDate.getFullYear()}}</a>
				</span>
			</p>
		</div>
	</div>
</nav>